In [1]:
# Imports

import pandas as pd

In [7]:
# Load data

food_1 = pd.read_csv("data/food/Food_Log_001.csv")
food_2 = pd.read_csv("data/food/Food_Log_002.csv")
food_3 = pd.read_csv("data/food/Food_Log_003.csv")
food_4 = pd.read_csv("data/food/Food_Log_004.csv")
food_5 = pd.read_csv("data/food/Food_Log_005.csv")
food_6 = pd.read_csv("data/food/Food_Log_006.csv")
food_7 = pd.read_csv("data/food/Food_Log_007.csv")
food_8 = pd.read_csv("data/food/Food_Log_008.csv")
food_9 = pd.read_csv("data/food/Food_Log_009.csv")
food_10 = pd.read_csv("data/food/Food_Log_010.csv")
food_11 = pd.read_csv("data/food/Food_Log_011.csv")
food_12 = pd.read_csv("data/food/Food_Log_012.csv")
food_13 = pd.read_csv("data/food/Food_Log_013.csv")
food_14 = pd.read_csv("data/food/Food_Log_014.csv")
food_15 = pd.read_csv("data/food/Food_Log_015.csv")
food_16 = pd.read_csv("data/food/Food_Log_016.csv")

,date,time,time_begin,time_end,logged_food,amount,unit,searched_food,calorie,total_carb,...,2020-02-22 10:30:00,Chicken Nuggets,8.0,piece,Chicken Nuggets.1,393.0,19.0,0.1,20.0,time_of_day
0,2020-02-13,18:00:00,2020-02-13 18:00:00,NaN,Berry Smoothie,20.0,fluid ounce,Strawberry Smoothie,456.0,85.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2020-02-13,20:30:00,2020-02-13 20:30:00,NaN,Chicken Leg,1.0,NaN,chicken leg,475.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2020-02-13,20:30:00,2020-02-13 20:30:00,NaN,Asparagus,4.0,NaN,Asparagus,13.0,2.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2020-02-14,07:10:00,2020-02-14 07:10:00,NaN,Natrel Lactose Free 2 Percent,8.0,fluid ounce,(Natrel) Lactose Free 2% Partly Skimmed Milk,120.0,9.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2020-02-14,07:10:00,2020-02-14 07:10:00,NaN,Standard Breakfast,0.75,cup,"(Kellogg's) Frosted Flakes, Cereal",110.0,26.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1416,2/26/2020,NaN,2020-02-26 18:30:00,NaN,Lemonade,32,oz,NaN,99.0,26.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18:30
1417,2/27/2020,NaN,2020-02-27 10:30:00,NaN,Standard breakfast,NaN,NaN,NaN,280.0,56.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10:30
1418,2/27/2020,NaN,2020-02-27 11:30:00,NaN,Plain cheese pizza,1,slices,NaN,452.0,57.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11:30
1419,2/27/2020,NaN,2020-02-27 11:30:00,NaN,cooked black eyed peas,1,cup,NaN,198.0,35.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11:30
1420,2/28/2020,NaN,2020-02-28 08:00:00,NaN,Boost,NaN,NaN,NaN,654.0,82.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8:00

In [11]:
hr_1 = pd.read_csv("data/hr/HR_001.csv")
hr_2 = pd.read_csv("data/hr/HR_002.csv")
hr_3 = pd.read_csv("data/hr/HR_003.csv")
hr_4 = pd.read_csv("data/hr/HR_004.csv")
hr_5 = pd.read_csv("data/hr/HR_005.csv")
hr_6 = pd.read_csv("data/hr/HR_006.csv")
hr_7 = pd.read_csv("data/hr/HR_007.csv")
hr_8 = pd.read_csv("data/hr/HR_008.csv")
hr_9 = pd.read_csv("data/hr/HR_009.csv")
hr_10 = pd.read_csv("data/hr/HR_010.csv")
hr_11 = pd.read_csv("data/hr/HR_011.csv")
hr_12 = pd.read_csv("data/hr/HR_012.csv")
hr_13 = pd.read_csv("data/hr/HR_013.csv")
hr_14 = pd.read_csv("data/hr/HR_014.csv")
hr_15 = pd.read_csv("data/hr/HR_016.csv")
hr_16 = pd.read_csv("data/hr/HR_016.csv")