In [1]:
# Imports

import pandas as pd
from datetime import datetime

In [2]:
# Load data

food_1 = pd.read_csv("data/food/Food_Log_001.csv")
food_2 = pd.read_csv("data/food/Food_Log_002.csv")
food_3 = pd.read_csv("data/food/Food_Log_003.csv")
food_4 = pd.read_csv("data/food/Food_Log_004.csv")
food_5 = pd.read_csv("data/food/Food_Log_005.csv")
food_6 = pd.read_csv("data/food/Food_Log_006.csv")
food_7 = pd.read_csv("data/food/Food_Log_007.csv")
food_8 = pd.read_csv("data/food/Food_Log_008.csv")
food_9 = pd.read_csv("data/food/Food_Log_009.csv")
food_10 = pd.read_csv("data/food/Food_Log_010.csv")
food_11 = pd.read_csv("data/food/Food_Log_011.csv")
food_12 = pd.read_csv("data/food/Food_Log_012.csv")
food_13 = pd.read_csv("data/food/Food_Log_013.csv")
food_14 = pd.read_csv("data/food/Food_Log_014.csv")
food_15 = pd.read_csv("data/food/Food_Log_015.csv")
food_16 = pd.read_csv("data/food/Food_Log_016.csv")

In [3]:

def combine_food():
    food_tables = [food_1, food_2, food_3, food_4, food_5, food_6, food_7, food_8, food_9, food_10, food_11, food_12, food_13, food_14, food_15, food_16]
    food_df = pd.DataFrame()

    for i in range(16):
        food_copy = food_tables[i].copy()
        food_copy['participant_id'] = [i+1]*food_copy.shape[0]
        food_df = pd.concat([food_df, food_copy], axis=0)

    return food_df

combined_food_df = combine_food()[['participant_id', 'time', 'sugar']]
combined_food_df

    participant_id      time  sugar
0                1  18:00:00   83.0
1                1  20:30:00    0.0
2                1  20:30:00    0.8
3                1  07:10:00    8.0
4                1  07:10:00   10.0
..             ...       ...    ...
40              16     18:30   25.0
41              16     10:30   24.0
42              16     11:30    6.1
43              16     11:30    5.6
44              16      8:00   40.0

[1422 rows x 3 columns]

In [4]:
hr_1 = pd.read_csv("data/hr/HR_001.csv")
hr_2 = pd.read_csv("data/hr/HR_002.csv")
hr_3 = pd.read_csv("data/hr/HR_003.csv")
hr_4 = pd.read_csv("data/hr/HR_004.csv")
hr_5 = pd.read_csv("data/hr/HR_005.csv")
hr_6 = pd.read_csv("data/hr/HR_006.csv")
hr_7 = pd.read_csv("data/hr/HR_007.csv")
hr_8 = pd.read_csv("data/hr/HR_008.csv")
hr_9 = pd.read_csv("data/hr/HR_009.csv")
hr_10 = pd.read_csv("data/hr/HR_010.csv")
hr_11 = pd.read_csv("data/hr/HR_011.csv")
hr_12 = pd.read_csv("data/hr/HR_012.csv")
hr_13 = pd.read_csv("data/hr/HR_013.csv")
hr_14 = pd.read_csv("data/hr/HR_014.csv")
hr_15 = pd.read_csv("data/hr/HR_016.csv")
hr_16 = pd.read_csv("data/hr/HR_016.csv")

In [5]:
hr_1.head()

        datetime    hr
0  2/13/20 15:29  94.0
1  2/13/20 15:29  99.0
2  2/13/20 15:29  94.0
3  2/13/20 15:29  82.5
4  2/13/20 15:29  82.6

In [6]:
def combine_hr():
    hr_tables = [hr_1, hr_2, hr_3, hr_4, hr_5, hr_6, hr_7, hr_8, hr_9, hr_10, hr_11, hr_12, hr_13, hr_14, hr_15, hr_16]
    hr_df = pd.DataFrame()

    for i in range(16):
        hr_copy = hr_tables[i].copy()
        hr_copy['participant_id'] = [i+1]*hr_copy.shape[0]
        hr_copy['time'] = pd.to_datetime(hr_copy['datetime']).dt.strftime("%H:%M")
        hr_df = pd.concat([hr_df, hr_copy], axis=0)

    return hr_df

combined_hr_df = combine_hr()[['participant_id', 'time', ' hr']]
combined_hr_df

C:\Users\wdeha\AppData\Local\Temp\ipykernel_21164\936153786.py:8: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  hr_copy['time'] = pd.to_datetime(hr_copy['datetime']).dt.strftime("%H:%M")

        participant_id   time     hr
0                    1  15:29  94.00
1                    1  15:29  99.00
2                    1  15:29  94.00
3                    1  15:29  82.50
4                    1  15:29  82.60
...                ...    ...    ...
558099              16  22:25  75.55
558100              16  22:25  75.53
558101              16  22:25  75.52
558102              16  22:25  75.52
558103              16  22:25  75.52

[9506030 rows x 3 columns]

In [7]:
combined_hr_df = combined_hr_df.groupby(['participant_id', 'time'], as_index=False).mean()
combined_food_df = combined_food_df.groupby(['participant_id', 'time'], as_index=False).mean()

In [8]:
demo_data = pd.read_csv("data/Demographics.csv")

In [9]:
demo_data['a1c_type'] = demo_data['HbA1c'].apply(lambda val: 'Normal' if val < 5.7 else 'Prediabetes' )

In [10]:
combined_hr_df = combined_hr_df.merge(demo_data[['ID', 'Gender', 'a1c_type']], left_on= 'participant_id' ,right_on='ID').drop(columns='ID')

In [15]:
combined_hr_df.to_csv('combined_hr.csv')